@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-image:url('2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color:white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.30);
    position: relative;
    overflow: hidden;
    width: 770px;
    height: 500px;
    max-width: 100%;
    min-width: 500px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container a i{
    border: 1px solid  #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:  20px 3px;
    width: 40px;
    height: 40px;
}
.btn{
    padding: 10px 45px;
    background-color: #12372A;
    color: white !important;
    font-size: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
}


.container button.hidden{
    width: 50%;
    margin: 0 auto ;
    color: #12372A !important;
    border-color: #12372A;
    background-color: transparent ;
}

.container form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 12px 16px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline:  none;
    font-weight: 700;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signIn{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .signIn{
    transform: translateX(100%);
}

.signUp{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .signUp{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6;
}

@keyframes move {
    0% , 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50% ,100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggleContainer{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px 0 0 120px;
    transition: all 0.6s ease-in-out;
    z-index: 999;
}
.container.active  .toggleContainer{
    transform: translateX(-100%);
    border-radius:0 150px 120px 0;

}

.toggle{
    background-image:url('feature2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#12372A;
    height: 100%;
    position: relative;
    left: -100%;
    width:  200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);    
}
.togglePanel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggleLeft{
    transform: translateX(-200%);
}

.container.active .toggleLeft {
    transform: translateX(0%);
}
.toggleRight{
    right: 0;
    transform: translateX(0);
}
.container.active .toggleRight {
    transform: translateX(200%);
}
