@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    background-color: black;
    color: #eee;
    margin: 0;
    font-size: 12px;
}

a{
    text-decoration:  none;
    color: #eee;
}

header{
    width: 75%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
header a{
    margin-right: 40px;
    font-size: 20px;
}
/** section A***/
.sectionA{
    position: relative;
    top: -50px;
    height: 40vh;
    width: 100%;
    margin-bottom: -100px;
}
.ImgHeader {
    position: absolute;
    top: -50px;
    height: 40vh;
    width: 100%;
    background-image: url(feature2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: fill;
    opacity: .6;
    z-index: -1;
}
.title{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 5em;
    font-style: 1.3em;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*****start feature *****/
.feature {
    background-color: #f2f5ef;
    width:  100%;
    padding-bottom: 40px;
}
.container{
    width: 1140px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container h1{
    padding-left: 0;
    margin-left: 0;
    color: #2a4a14;
    margin-bottom: 20px;
}
.feature .container .featureImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature .container .featureImg .item{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 600px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.feature .container .featureImg .item .content{
    color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
}
.content p{
    font-size: medium;
    color: #4c4c4c;
    padding: 0;
    margin: 0;
}
.content h3,h2{
    padding: 0;
    margin: 5px 0 0 0 ;
}
.content .price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}
.content .price a{
    background:#ff7b2e;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: larger;
    padding: 8px;
    transition: 0.5s;
}
.content .price a:hover{
    background: rgba(241, 104, 58, .7);
    color: #ffffff;
    
}
.feature .container .featureImg .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.imgHover:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}



/*****end feature *****/









/***start footer ***/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.containerFooter  {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-info p {
    margin-bottom: 5px;
}
/** end of footer**/

@media screen and (max-width: 800px) {
    .feature .container .featureImg .item{
        width: 45%;
    }

}